.wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  z-index: 1;

  padding: 24px;
  background-color: #fff;
}

.btn {
  padding: 14px 20px 13px;
  gap: 10px;
  width: 100%;
  background: #E5271B;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btnInfo {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  border: 1px solid #EDEDED;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #1D1D1B;

  margin-bottom: 16px;
}

.sumWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

}

.sumTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}

.sum {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #393939;
}


.detail {

  border-bottom: 1px dashed #BFBFBF;;

  margin-bottom: 24px;

  & h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
    margin-bottom: 16px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 24px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}

.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #393939;
}

@media only screen and (max-width: 450px) {
  .wrap {
    display: block;
  }
}