.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin: 11px 0 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin-bottom: 76px;
}

.count {
  display: flex;
  margin-bottom: 16px;

  & h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
    margin: 0;
  }
  & span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #979797;

    margin-left: 6px;
  }
}


@media only screen and (max-width: 880px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}