.header {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: #fff;

  //border-bottom: 1px solid #EEEEEE;
}

.topHeader {
  background-color: #fff;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.topHeaderInner {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;

  width: 100%;
  max-width: 1172px;

  margin: 0 auto;
}

.bottomHeaderInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  gap: 30px;

  width: 100%;
  max-width: 1172px;

  margin: 0 auto;
}

.bottomHeader {
  border-bottom: 1px solid #EEEEEE;
}

.pages {
  & span {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin-left: 24px;
    color: #393939;
    text-decoration: none;

    cursor: pointer;

    &:first-child {
      margin: 0;
    }
  }
}

.rightSide {
  display: flex;
  align-items: center;
}

.userWrap {
  margin-left: 20px;
  position: relative;
}

.auth {
  width: 200px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #8897c9;

  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  color: #5973cb;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  & svg {
    fill: #5973cb;
    margin-left: 5px;
  }
  
  &:hover {
    border: 1px solid #5973cb;
    background-color: #fcfcff;
    color: #4061d2;

    & svg {
      fill: #4061d2;
    }
  }
}

.user {
  height: 35px;
  background-color: transparent;

  font-weight: 600;
  font-size: 14px;
  line-height: 29px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.popup {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  width: 220px;
    background-color: #fff;
  box-shadow: 0 2px 6px 0 #1d1d1b24;
  z-index: 5;
  padding: 8px 0;

  border-radius: 3px;

  cursor: default;
}

.separatorItem {
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background-color: #efefef;
}

.item {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;

  font-weight: 500;
  font-size: 14px;

  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }

  & svg {
    margin-right: 5px;
  }

  &:last-child {
    color: #ce4a4a;

    & svg {
      fill: #ce4a4a;
    }
  }
}

.contact {
  & span {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #393939;

    &:first-child {
      color: #979797;
      font-weight: 400;
      font-size: 17px;
      line-height: 21px;
    }
  }
  & a {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #393939;
  }
}




.favorite {
  display: flex;
  align-items: center;
  cursor: pointer;

  & span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-left: 10px;
  }
}

.icon {
  width: 23px;
  height: 20px;

  position: relative;
}

.indicatorFavorite {
  width: 9.3px;
  height: 9.3px;
  position: absolute;
  top: -3px;
  right: -1px;
  background-color: #E5271B;
  border-radius: 50%;
}

.indicatorBasket {
  width: 9.3px;
  height: 9.3px;
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #E5271B;
  border-radius: 50%;
}

.productCart {
  display: flex;
  align-items: center;
  cursor: pointer;

  & span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #393939;
    margin-left: 10px;
  }
}

.separator {
  width: 2px;
  height: 24px;
  background-color: #D3D3D3;;
}

.pathWrapper {
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.paths {
  width: 100%;
  max-width: 1172px;
  display: flex;
  align-items: center;
}

.path {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-right: 16px;

  &.active {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #979797;
  }
}





@media only screen and (max-width: 1192px) {
  .topHeaderInner {
    padding: 0 20px;
  }
  .bottomHeaderInner {
    padding: 8px 20px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    display: none;
  }
}