.historyWrap {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 30px;
}


.title {
  font-weight: 500;
  font-size: clamp(18px, 5.625vw, 24px);
  line-height: 29px;
  color: #393939;
  margin: 11px 0 12px;

  & span {
    display: inline-block;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #393939 !important;
    margin-left: 0 !important;
    margin-top: 16px !important;
  }
}


.table {
  border-collapse: collapse;
  width: 100%;

  overflow-x: auto;

  margin-bottom: 20px;

  & th, & td {
    text-align: left;
    height: 30px;
  }

  & td {
    height: 25px;
  }
}



@media only screen and (max-width: 500px) {
  .title {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}