.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin: 11px 0 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin-bottom: 16px;
}

.notFound {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  margin: -16px 0 48px;
}

.extra {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-bottom: 16px;
}

.slider {
  margin-bottom: 74px;
}


@media only screen and (max-width: 880px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}