.wrap {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(288px, 90vw, 662px);
  height: 44px;
  background-color: #fff;
  z-index: 2;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  transform: translateY(-50%);
  margin-top: 22px;

  & input {
    width: 100%;
    background: #F8F8F8;
    height: 44px;
    padding: 0 20px;
    border: none;

    outline: none;

    &::placeholder {
    }
  }

  & span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #858F9B;

  }
}

.iconWrapper {
  border: none;
  display: flex;
  align-items: center;
  background: #F8F8F8;
  height: 44px;
  padding: 0 20px 0 0;

  cursor: pointer;
}

.resultsWrap {
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-right: 12px;
}

.results {
  max-height: 309px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    height: 45px;
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #EEEEEE;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #979797;
    border-radius: 3px;
  }
}

.result {
  height: 53px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;

  border-bottom: 1px solid #EEEEEE;

  cursor: pointer;

  &:hover {
    background-color: #f6f6f6;
  }

  &:first-child {
    border-bottom: 1px solid #EEEEEE;
  }

  &:last-child {
    border-bottom: none;
  }



  & h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1D1D1B;
  }
}