.inner {
  margin-bottom: 44px;
}

.h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-bottom: 18px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 8px;
  margin-bottom: 24px;
  width: 100%;
}

.cart {
  width: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: column;


  & img {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }

  &:hover .info {
    background-color: #fff;
    color: #1D1D1B;
  }
  &:hover h4 {
    color: #1D1D1B;
    fill: #1D1D1B;
  }
  &:hover svg {
    fill: #1D1D1B !important;
  }
}

.info {
  position: relative;
  display: flex;
  width: 100%;
  background-color: #1D1D1B;
  justify-content: center;
  align-items: center;
  padding: 12px 18px 12px 30px;
  transition: all 70ms ease-out;

}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 15px;
}

.button {
  width: 107px;
  height: 32px;
  background-color: #1D1D1B;

  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;

  border: none;
}

@media only screen and (max-width: 770px) {
  .inner {
    margin-bottom: 32px;
  }

  .collection {
    display: none;
  }

  .button {
    display: none;
  }
}