.cart {
  width: 100%;
  max-width: 286px;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  position: relative;

  & img {
    width: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 6px 8px 10px;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
  margin-bottom: 6px;
}

.sum {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  margin-bottom: 6px;
}

.sizes {
  margin-bottom: 10px;
}

.size {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #7C7C7C;
}

.sizeNumber {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #7C7C7C;
  margin-left: 4px;
}
.colors {
  display: flex;
}

.color {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 13px;

  &:first-child {
    margin-left: 0;
  }
}

.paleGreen {
  background-color: #73A39D;
}
.green {
  background-color: #84CC4C;
}
.beige {
  background-color: #B5A8A1;
}
.brown {
  background-color: #AB844A;
}
.lilac {
  background-color: #6977F0;
}
.white {
  background-color: #D1D1D1;
}
.gray {
  background-color: #909091;
}
.red {
  background-color: #FF0000;
}


.triangle {
  width: 50px;
  height: 50px;
  background: -webkit-linear-gradient(-45deg, #E5271B 50%, transparent 50%);
  position: absolute;
  left: 0;
  top: 0;
}

.sale {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  transform: rotate(-45deg);
  position: absolute;
  left: 5px;
  top: 7px;
}

.love {
  position: absolute;
  top: 12px;
  right: 12px;
  fill: #fff;
}

.loveFill {
  position: absolute;
  top: 12px;
  right: 12px;
}